VITE_API_GATEWAY_URL=http://localhost:8000/v1
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
VITE_GOOGLE_MAPS_ID=your_google_maps_id_here
VITE_WEATHER_API_KEY=your_weather_api_key_here
VITE_PUBLIC_API_MESS_URL=http://localhost:8000/v1/mess
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here
VITE_GITHUB_CLIENT_ID=your_github_client_id_here
VITE_REDIRECT_URI=http://localhost:3000/auth/callback